---
import * as interfaces from '../../lib/interfaces.ts'
import { getPostByPageId } from '../../lib/notion/client'
import { getPostLink } from '../../lib/blog-helpers.ts'
import arrow from '../../images/icon-arrow-link.svg'

export interface Props {
  block: interfaces.Block
}

const { block } = Astro.props
let post: interfaces.Post | null = null
if (block.LinkToPage.Type === 'page_id') {
  post = await getPostByPageId(block.LinkToPage.PageId)
}

const icon = post?.Icon?.Emoji || '📄'
const title = post?.Title || 'Linked page'
const href = post ? getPostLink(post.Slug) : undefined
---

<p class="link-to-page">
  <a href={href} class:list={["link", !href && "not-found"]}>
    <span class="icon">
      {icon}
      <img src={arrow.src} class="icon-link" alt="" />
    </span>
    <span class="text">{title}</span>
  </a>
</p>

<style>
  .link-to-page {
    margin: 0.35rem 0;
  }

  .link {
    display: inline-flex;
    align-items: flex-start;
    gap: 0.35rem;
    color: var(--fg);
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 0.06em;
    text-underline-offset: 0.16em;
  }

  .link.not-found {
    opacity: 0.65;
    text-decoration: none;
    pointer-events: none;
  }

  .icon {
    height: fit-content;
    flex-shrink: 0;
    position: relative;
  }

  .icon-link {
    display: block;
    position: absolute;
    top: 1em;
    right: -0.2em;
    width: 8px;
    height: 8px;
  }
</style>
