---
import { RichText } from '../../../lib/interfaces.ts'

export interface Props {
  richText: RichText
}

const { richText } = Astro.props
const shouldWrap = richText.Href && !richText.Mention?.Page
---

{
  shouldWrap ? (
    <a href={richText.Href}>
      <slot />
    </a>
  ) : (
    <slot />
  )
}
