---
// import { PUBLIC_SITE_TITLE } from '../../server-constants.ts'
// import backimage from '/page/tsukurun-zukei.svg'

// import styles from '../../styles/page.module.css'
---

<div
  style="text-align: center; background-image: url(../../../home/tsukurun-zukei_rl_opacity.svg); background-size: contain;
  background-repeat: no-repeat;
  background-position: center;"
>
  <div class="title">
    <h2>
      <!-- {PUBLIC_SITE_TITLE} -->
      Notion Template
    </h2>
    <p>Created by cross</p>
  </div>
</div>

<style>
  .title {
    padding: 100px;
  }
  .title > h2 {
    font-size: 3.25em;
    line-height: 1.25;
    font-weight: bold;
  }
  .title > p {
    font-size: 1em;
    line-height: 1.75;
    font-weight: 400;
  }
</style>
